{:lein {:profile "+dev"}
 :nrepl {:port 4010
         :init-ns repl}
 :builds {:app {:target :browser
                :asset-path "files/js/clothing"
                :output-to "resources/public/files/js/clothing/main.js"
                :output-dir "resources/public/files/js/clothing"
                :modules {:main {:entries [ventas.themes.clothing.core]}}
                :devtools {:after-load ventas.core/on-reload
                           :watch-dir "resources/public"}
                :dev {:preloads [devtools.preload]}
                :release {:pretty-print false}}}}